body {line-height:1.5em;font-family:"Times New Roman",Times,serif;line-height: 30px;font-size: 20px;background:#FFDFE6;}
section {padding-bottom: 50px;padding-top: 50px;}
.header-div {background: url(https://www.nypfansclub.cn/images/bg404.jpg);-webkit-background-size: cover;background-size: cover;-webkit-animation: bgscroll 15s infinite linear;animation: bgscroll 15s infinite linear;-moz-animation: bgscroll 15s infinite linear;-ms-animation: bgscroll 15s infinite linear;}
.header-div h1 {font-size: 70px;font-weight: 900;color:#31708f;}
.header-div .overlay {min-height: 200px;background: rgba(255, 255, 255, 0.8);padding-top: 80px;padding-bottom: 80px;}
.section-text {color: #000;}
.lcd a{color: black;}
.lcd a:hover{text-decoration: none;}
footer {margin-top:10px;border-top:1px solid gray;padding: 20px;font-size: 15px;text-align: center;background-color: #FFDFE6;color: #000;}
footer .spread img{width:80%;margin:10px auto;}
footer .spread p{margin:3px auto;color: rgb(0,22,25);margin-bottom:16px;}
footer .spread p span{font-weight:bold;font-size:20px;}
footer .spread p a{color: rgb(0,22,25);}

@-webkit-keyframes bgscroll {
	from{background-position: 0 0;}
	to  {background-position: 0 -400px;}
}

@-moz-keyframes bgscroll {
	from {background-position: 0 0;}
	to   {background-position: 0 -400px;}
}

@-ms-keyframes bgscroll {
	from {background-position: 0 0;}
	to   {background-position: 0 -400px;}
}

@-o-keyframes bgscroll {
	from{background-position: 0 0;}
	to  {background-position: 0 -400px;}
}

@keyframes bgscroll {
	from {background-position: 0 0;}
	to   {background-position: 0 -400px;}
}