/*=================================
    GENERAL STYLES
 ==================================*/
body {
	line-height:1.5em;
	font-family:"Times New Roman",Times,serif;
    line-height: 30px;
    font-size: 20px;
}

section {
    padding-bottom: 50px;
    padding-top: 50px;
}

/*=================================
    HEADER / REPLICATE HEADER STYLES
 ==================================*/
.header-div {
    background: url(http://www.nypfansclub.cn/images/bg404.jpg); /* DEFINE IMAGE PATH CAREFULLY*/
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: bgscroll 15s infinite linear; /* 15s - speed of scroll , you can change it */
    animation: bgscroll 15s infinite linear;
    -moz-animation: bgscroll 15s infinite linear;
    -ms-animation: bgscroll 15s infinite linear;
    color: #fff;
}

    .header-div h1 {
        font-size: 70px;
        font-weight: 900;
		color:#31708f;
    }

    .header-div .overlay {
        min-height: 200px;
        background: rgba(255, 255, 255, 0.8);
        padding-top: 80px;
        padding-bottom: 80px;
    }


/*Background Scrolling Animation*/
@-webkit-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -400px;
    }
}

@-moz-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -400px;
    }
}

@-ms-keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -400px;
    }
}

@-o-keyframes bgscroll {
    from;{
		background-position: 0 0;
    }

	to {
		background-position: 0 -400px;
	}
}

@keyframes bgscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -400px;
    }
}
/*=================================
    TEXT SECTION STYLES
=================================== */
.section-text {
    background-color: #FFF;
    color: #000;
}
.lcd a{
	color: black;
}
.lcd a:hover{
	text-decoration: none;
}
/*=================================
    FOOTER SECTION STYLES
=================================== */

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: #FFF;
    color: #000;
}
}

footer a, footer a:hover {
	color: #000;
	text-decoration: none;
}