.header-top {
    background: #fb5e33;
}
.header-top-in {
    padding: 1.5em 1em;
}
.logo {
    float: left;
}

.header-in {
    float: right;
}
ul.icon1 {
    float: right;
    zoom: 1;
    list-style: none;
    padding: 0;
    margin-left: 0;
}

ul {
    padding: 0;
    margin: 0;
}
.header-in ul li {
    display: inline-block;
}
.icon1 li {
    float: left;
    position: relative;
}
.header-in ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 1.4em 1em;
}

.single {
    padding: 4em 0;
}
.top-in-single {
    padding: 0;
}

.single-top {
    width: 49%;
}

.single-top-in {
    width: 51%;
}

.single-para h4 {
    font-size: 1.5em;
    color: #747272;
    line-height: 1.5em;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6, label, p {
    margin: 0;
}

.para-grid {
    padding: 1.5em 0;
}

span.add-to {
    float: left;
    font-size: 1.7em;
    color: #fd5f36;
    font-weight: 600;
}

a.cart-to {
    float: right;
}

.single-para h5 {
    color: #747272;
    font-size: 1.4em;
    border-bottom: 1px solid #747272;
    border-top: 1px solid #747272;
    padding: 0.5em 0;
}
.available {
    padding: 2em 0 1em;
}
.available h6 {
    color: #f95a32;
    font-size: 1.4em;
    padding: 0 0 1em;
	display:inline-block;
}
.available select{
	float:right;
}
.single-para p {
    color: #747272;
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 1.5em 0;
}

.content-top-in {
    padding: 3em 0;
}

.col-md {
    background: #d9d9d9;
    padding: 0.5em;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
.col-md img {
    width: 100%;
    border: 2px solid #E5E5E5;
}
.top-content h5 {
    font-size: 1.1em;
    padding: 0.5em 0 1.5em;
}

.hvr-shutter-in-vertical {
    display: block;
	text-align:center;
	margin-bottom:5px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: rgb(252,94,53);
    background: -moz-linear-gradient(top, rgba(252,94,53,1) 55%, rgba(252,94,53,1) 55%, rgba(233,71,34,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(252,94,53,1)), color-stop(55%,rgba(252,94,53,1)), color-stop(100%,rgba(233,71,34,1)));
    background: -webkit-linear-gradient(top, rgba(252,94,53,1) 55%,rgba(252,94,53,1) 55%,rgba(233,71,34,1) 100%);
    background: -o-linear-gradient(top, rgba(252,94,53,1) 55%,rgba(252,94,53,1) 55%,rgba(233,71,34,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,94,53,1) 55%,rgba(252,94,53,1) 55%,rgba(233,71,34,1) 100%);
    background: linear-gradient(to bottom, rgba(252,94,53,1) 55%,rgba(252,94,53,1) 55%,rgba(233,71,34,1) 100%);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
}
p.dollar {
    float: right;
    border: 1px solid #636363;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 46%, rgba(208,208,208,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(238,238,238,1)), color-stop(100%,rgba(208,208,208,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    font-size: 1.2em;
    line-height: 1.3em;
}

p.dollar span.in-dollar {
    background: rgb(252,94,53);
    background: -moz-linear-gradient(top, rgba(252,94,53,1) 0%, rgba(252,94,53,1) 0%, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 58%, rgba(71,71,71,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,94,53,1)), color-stop(0%,rgba(252,94,53,1)), color-stop(0%,rgba(119,119,119,1)), color-stop(58%,rgba(119,119,119,1)), color-stop(100%,rgba(71,71,71,1)));
    background: -webkit-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: -o-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: linear-gradient(to bottom, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    color: #fff;
}

p.dollar span {
    border-right: 1px solid #636363;
    padding: 4px;
    display: inline-block;
    color: #636363;
}

.single-bottom h4 {
    color: #747272;
    font-size: 1.5em;
    padding: 0.9em;
    background: #eee;
    text-transform: uppercase;
}
.single-bottom ul {
    padding: 1em 0;
}

ul {
    padding: 0;
    margin: 0;
}
.single-bottom ul li {
    list-style: none;
}
.single-bottom ul li i {
    width: 20px;
    height: 20px;
    background: url(../images/img-sprite.png)no-repeat -60px -66px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}
.single-bottom ul li a {
    color: #747272;
    font-size: 1em;
    padding: 0.5em 0;
    text-decoration: none;
    display: block;
}
.product {
    padding: 2em 0 0;
}
.fashion {
    float: left;
	width:98px;
	height:98px;
}
.grid-product {
    float: right;
    width: 55%;
	margin-top:30px;
}
a.elit {
    font-size: 1.2em;
    color: #000;
}
span.price-in {
    font-size: 1.1em;
    padding: 1em 0 0;
    display: block;
}
span.price-in small {
    font-size: 12px;
    text-decoration: line-through;
    color: #afafaf;
}


.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
    color: white;
    text-decoration: none;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(157,218,216);
    background: -moz-linear-gradient(top, rgba(157,218,216,1) 52%, rgba(119,168,164,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,rgba(157,218,216,1)), color-stop(100%,rgba(119,168,164,1)));
    background: -webkit-linear-gradient(top, rgba(157,218,216,1) 52%,rgba(119,168,164,1) 100%);
    background: -o-linear-gradient(top, rgba(157,218,216,1) 52%,rgba(119,168,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(157,218,216,1) 52%,rgba(119,168,164,1) 100%);
    background: linear-gradient(to bottom, rgba(157,218,216,1) 52%,rgba(119,168,164,1) 100%);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 5px;
}


@media (max-width: 768px){
	.logo {
	    width: 35%;
	}
	.logo img {
	    width: 100%;
	}
	.header-in {
	    width: 61%;
	}

	.header-in ul li a {
	    padding: 1.4em 0.5em;
	}
	.single-top, .single-top-in {
	    float: left;
	}
	.single-top, .single-top-in {
	    float: left;
	}
	.top-single {
	    float: left;
	    width: 50%;
	}
	.grid-product {
	    width: 82%;
	}
}
@media (max-width: 640px){
	.logo {
	    width: 43%;
	}
	.header-in {
	    width: 55%;
	}
	.single-top {
	    width: 59%;
	}
	.single-top-in {
	    width: 100%;
	    padding: 1em 1em 0;
	}
	.grid-product {
	    width: 79%;
	}
}
@media (max-width: 480px){
	.logo {
	    width: 65%;
	    margin: 0 auto;
	    float: none;
	}
	.header-in{
	    display: none;
	}
	.single {
	    padding: 3em 0;
	}
	.single-top {
	    width: 84%;
	}
	.hvr-shutter-in-vertical {
	    padding: 0.5em;
	    font-size: 0.9em;
	}
	p.dollar {
	    font-size: 1em;
	}
	.grid-product {
	    width: 71%;
	}
}
@media (max-width: 350px){
	.header-top-in {
	    padding: 1em 0.5em;
	}
	.logo {
	    width: 90%;
	}
	.single-top {
	    width: 100%;
	    padding: 0 0.5em;
	}
	.single-top-in {
	    padding: 1em 0.5em 0;
	}
	.single-para h4 {
	    font-size: 1.2em;
	}
	.para-grid {
	    padding: 1em 0;
	}
	span.add-to {
	    font-size: 1.4em;
	}
	.hvr-shutter-in-vertical {
	    font-size: 0.8em;
	}
	.single-para h5 {
	    font-size: 1.2em;
	}
	.single-para p {
	    height: 70px;
	    overflow: hidden;
	}
	.content-top-in {
	    padding: 1em 0;
	}
	.top-single {
	    padding: 0.5em;
	}

	.top-content h5 {
	    font-size: 0.8em;
	    padding: 0.5em 0 1em;
	}

	p.dollar {
	    font-size: 0.8em;
	}
	.single-bottom h4 {
	    font-size: 1.1em;
	}
	.grid-product {
	    width: 50%;
	}
	a.elit {
	    font-size: 1em;
	}
	span.price-in {
	    font-size: 1em;
	}
	p.dollar span{
		padding:2px;
	}