body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}
.header{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
@media screen and (min-width: 768px) {
    .header{
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
    }
}
.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-sign .form-sign-heading,.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-sign input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}